<!--
 * @Author: BDFD
 * @Date: 2022-02-03 13:19:25
 * @LastEditTime: 2022-02-03 13:19:34
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \Heroku_Node.js_Template\views\layouts\hero_layout.ejs
-->
<!DOCTYPE html>
<html>
	<head> </head>
	<body>
		<%- body%>
	</body>
</html>
