<!--
 * @Author: BDFD
 * @Date: 2022-02-03 12:27:46
 * @LastEditTime: 2022-02-03 13:26:16
 * @LastEditors: BDFD
 * @Description: 
 * @FilePath: \Heroku_Node.js_Template\views\about.ejs
-->
<div class="container-fluid bg-3 text-center">
	<h3><%= page %></h3>
	<br />
	<div class="row">
		<div class="col-sm-4">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>
		<div class="col-sm-4">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>
		<div class="col-sm-4">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>
	</div>
</div>
